#drum-machine {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}
#drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  justify-items: left;
  border: 2px solid blue;
  width: fit-content;
  margin-top: 2.5rem;
  margin-left: 1rem;
}
 .drum-pad {
  background-color: #444;
  border: 2px solid black;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  margin: 0.10rem;
  text-align: center;
  width: 3rem;
  justify-items: left;
}
 
#display {
  background-color:wheat;
  border: 2px solid black;
  border-radius: 5px;
  
  height: 15rem;
  margin: 0.10rem;
  width: 30rem;
  justify-items: center;
  display: flexbox;
}